/* 標籤基本樣式 */
*, *::before, *::after{
    box-sizing: border-box;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
a{
    color: $neutral-900;
    text-decoration: none;
    font-weight: 500;
    display: block;
}
/* 佔大部分的字體樣式 */
body{
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $neutral-900;
}
